testNg2/.idea/.name
testNg2/.idea/APM.iml
testNg2/.idea/encodings.xml
testNg2/.idea/misc.xml
testNg2/.idea/modules.xml
testNg2/.idea/typescript-compiler.xml
testNg2/.idea/workspace.xml
testNg2/.vscode/settings.json
testNg2/.vscode/tasks.json
angular2/Demo/node_modules/
